html{font-size:5vw}@media only screen and (min-width:48em){html{font-size:2.0833333333vw}}@media only screen and (min-width:85.375em){html{font-size:1.1713030747vw}}body,html{margin:0;padding:0;background-color:#000;color:#fff;font-family:Grotta,Georgia,Times New Roman,Times,serif;-webkit-font-smoothing:antialiased}a{text-decoration:underline;color:#3987f4}a:hover{color:#005cc0}a:active{color:#0016c9}*{box-sizing:border-box}@font-face{font-family:Grotta;font-style:normal;font-weight:500;font-display:swap;src:url(/web/20220617164921im_/https://www.zoratopia.world/assets/fonts/Grotta-Trial-Medium.woff) format("woff")}@font-face{font-family:Grotta;font-style:normal;font-weight:600;font-display:swap;src:url(/web/20220617164921im_/https://www.zoratopia.world/assets/fonts/Grotta-Trial-Semibold.woff) format("woff")}@font-face{font-family:Till;font-style:normal;font-weight:400;font-display:swap;src:url(/web/20220617164921im_/https://www.zoratopia.world/assets/fonts/Till-Normal.woff)}
/*
     FILE ARCHIVED ON 16:49:21 Jun 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:38:39 Feb 09, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 185.819
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.075
  cdx.remote: 0.062
  esindex: 0.009
  LoadShardBlock: 142.659 (3)
  PetaboxLoader3.datanode: 154.653 (5)
  CDXLines.iter: 21.439 (3)
  load_resource: 68.374
  PetaboxLoader3.resolve: 46.266
  loaddict: 15.548
*/